/* frontend/styles/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 20px;
    background-color: #000000; /* Чёрный фон */
    text-align: center;
    color: white; /* Белый текст */
}

h1 {
    color: white;
}

p {
    color: #cccccc; /* Серый текст для абзацев */
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #7289da;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #5b6eae;
}
