/* frontend/styles/login.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 20px;
    background-color: #000000; /* Чёрный фон */
    text-align: center;
    color: white; /* Белый текст */
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.button-link {
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #7289da;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.button-link:hover {
    background-color: #5b6eae;
}
